version: '3.8'

services:
  tradereg: 
    image: gerogiordano08/trade-registry
    env_file:
      - .env
    command: gunicorn --config gunicorn_config.py the_trade_registry.wsgi:application 
    
    ports:
      - "8000:8000"
    
    restart: always
    depends_on:
      - db
      - redis
  db:
      image: postgres:15-alpine
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  redis:
    image: redis:alpine

volumes:
  postgres_data: