{% extends "trade_registry/base.html" %} {% block title %}Login | The Trade
Registry{% endblock %} {% block content %}
{% load static %}
<form class="log-sign-form" method="post">
  <h2>Login</h2>
  <br />
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %} {% csrf_token %}
  <label for="username">Username</label><br />
  <input type="text" id="username" name="username" required placeholder="Username" value="{{ form.username.value|default:'' }}"/><br /><br />
  <label for="password">Password</label><br />
  <input type="password" id="password" name="password" required placeholder="Password" /><br /><br />
  <button type="submit">Login</button> <br/>

  <a href="{% url 'signup' %}" style="margin-top: 0.5em; position: absolute;">Sign up</a>
  <p><a href="" style="margin-top: 1em; position: absolute;">Forgot your password?</a></p>
</form>
{% endblock %}
