{% extends "trade_registry/base.html" %}
{% block title %}Change Password | The Trade Registry{% endblock %}
{% block content %}
<form class="log-sign-form" method="post">
    {% csrf_token %}

    <h1>Change Password</h1>
    <label for="{{ form.old_password.id_for_label }}">Old Password</label>
    {{ form.old_password }}
    {% if form.old_password.errors %}
        <div class="error">{{ form.old_password.errors }}</div>
    {% endif %}
    <label for="form.new_password1.id_for_label">New Password</label><br />
    {{ form.new_password1 }}
    {% if form.new_password1.errors %}
        <div class="error">{{ form.new_password1.errors }}</div>
    {% endif %}

  <label for="form.new_password2.id_for_label">Confirm New Password</label><br />
  {{ form.new_password2 }}
    {% if form.new_password2.errors %}
        <div class="error">{{ form.new_password2.errors }}</div>
    {% endif %}

    <button type="submit">Change Password</button>
</form>
<ul class="password-conditions" style="top:0em;">
  <li class="{% for error in form.password2.errors %}{% if 'too similar' in error %}password-error{% endif %}{% endfor %}">A password can’t be too similar to the users other personal information.</li>
  <li class="{% for error in form.password2.errors %}{% if 'too short' in error %}password-error{% endif %}{% endfor %}">A password must contain at least 8 characters.</li>
  <li class="{% for error in form.password2.errors %}{% if 'too common' in error %}password-error{% endif %}{% endfor %}">A password can’t be a commonly used password.</li>
  <li class="{% for error in form.password2.errors %}{% if 'entirely numeric' in error %}password-error{% endif %}{% endfor %}">A password can’t be entirely numeric.</li>
</ul>
{% endblock %}