{% extends 'trade_registry/base.html' %}
{% block title %}Password Reset | The Trade Registry{% endblock %}
{% block content %}
{% if validlink %}
<form class="log-sign-form" method="POST" >
  <h2>Create New Password</h2>
  <br />
  
{% csrf_token %}
  <label for="{{ form.new_password1.id_for_label }}">New Password</label><br />
{{ form.new_password1 }}
  {% if form.new_password1.errors %}
      <div class="error">{{ form.new_password1.errors }}</div>
  {% endif %}
  <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label><br />
{{ form.new_password2 }}
  {% if form.new_password2.errors %}
      <div class="error">{{ form.new_password2.errors }}</div>
  {% endif %}
  <button type="submit">Reset Password</button><br/>
</form>
{% else %}
<div style="margin-left: 4em;">
<p>The password reset link is no longer valid. Please request a new password reset.</p>
<a href="{% url 'password_reset' %}" class="anchor-button">Request New Password</a>
</div>
{% endif %}
<ul class="password-conditions">
  <li class="{% for error in form.new_password2.errors %}{% if 'too similar' in error %}password-error{% endif %}{% endfor %}">A password can’t be too similar to the users other personal information.</li>
  <li class="{% for error in form.new_password2.errors %}{% if 'too short' in error %}password-error{% endif %}{% endfor %}">A password must contain at least 8 characters.</li>
  <li class="{% for error in form.new_password2.errors %}{% if 'too common' in error %}password-error{% endif %}{% endfor %}">A password can’t be a commonly used password.</li>
  <li class="{% for error in form.new_password2.errors %}{% if 'entirely numeric' in error %}password-error{% endif %}{% endfor %}">A password can’t be entirely numeric.</li>
</ul>
{% endblock %}

