body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f3ef;
}
h1 {
  margin: 0;
}
nav {
  width: 97%;
  height: 6em;
  padding: .5em 1.5% 0em 1.5%;
  background-color: #1b3c53;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav {
  color: #d2c1b6;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 10%;
  list-style-type: none;
}
.trades-container {
  width: 90%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 1em;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1em 1.5%;
}
.main-header {
  left: 5%;
  margin: 1em 0 0.25em 0;
  position: relative;
  display: inline-block;
  color: #2b2b2b;
  font-weight: 900;

  width: auto;
  height: auto;
}
.trade-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  gap: 0.5em;
  color: #f9f3ef;
  background-color: #456882;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding-left: 1em;
}
.trade-card h3 {
  grid-column: 1 / -1;
  margin-bottom: 0;
  font-size: 1.2em;
  color: #f9f3ef;
}
.trade-card > .ticker {
  width: auto;
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
}
.trade-card > .quantity {
  grid-column: 1;
  grid-row: 2;
}
.trade-card > .bought {
  grid-column: 2;
  grid-row: 2;
  border: 5px solid #fe7743;
  border-radius: 10px;
  margin-right: 1em;
  padding-left: 0.5em;
}
.trade-card > .sold {
  grid-column: 2;
  grid-row: 3;
  border: 5px solid #0f828c;
  border-radius: 10px;
  margin-right: 1em;
  padding-left: 0.5em;
}
.trade-card > .ended {
  grid-column: 1;
  grid-row: 3;
}
.trade-card > .profit {
  grid-column: 1;
  grid-row: 4;
}
.trade-card > .profits {
  grid-column: 1;
  grid-row: 3;
}
form {
    margin-left: 5em;
}