body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f3ef;
}
h2, h3{

  color: #2b2b2b;
  font-weight: 900;
}
footer {
  width: 100%;
  height: 3em;
  background-color: #134d76;
  color: #d2c1b6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
nav {
  width: 100%;
  height: 6em;
  padding: 0.5em 1.5% 0em 1.5%;
  background-color: #1b3c53;
  color: #d2c1b6;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 10%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  list-style-type: none;
}
.trades-container {
  width: 90%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 1em;
  border-radius: 5px;
  margin: 0 auto 3em auto;
  padding: 1em 1.5%;
}
.index-container {
  width: 90%;
  position: relative;
  display: grid;
  grid-template-columns: 20% 20%;
  gap: 1em;
  border-radius: 5px;
  margin: 0 auto 3em auto;
  padding: 1em 1.5%;
}
.index-header {
  grid-column: 1 / -1;

}
.index-link{
  height: 15em;
  border: 2px solid #1b3c53;
  border-radius: 10px;
  padding: 1em;
  background-color: #fefeff;
}
.container-header {
  position: relative;
  display: inline-block;
  grid-column: 1 / -1;

}
.trade-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  gap: 0.5em;
  color: #1b3c53;
  background-color: #fefeff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding-left: 1em;
}
.trade-card h3 {
  grid-column: 1 / -1;
  margin-bottom: 0;
  font-size: 1.2em;
}
.trade-card > .ticker {
  width: auto;
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
}
.trade-card > .quantity {
  grid-column: 1;
  grid-row: 2;
}
.trade-card > .bought {
  grid-column: 2;
  grid-row: 2;
  border: 5px solid #fe7743;
  border-radius: 10px;
  margin-right: 1em;
  padding-left: 0.5em;
}
.trade-card > .sold {
  grid-column: 2;
  grid-row: 3;
  border: 5px solid #0f828c;
  border-radius: 10px;
  margin-right: 1em;
  padding-left: 0.5em;
}
.trade-card > .ended {
  grid-column: 1;
  grid-row: 3;
}
.trade-card > .profit {
  grid-column: 1;
  grid-row: 4;
}

.trade-card > .profits {
  grid-column: 1;
  grid-row: 3;
}

.log-sign-form {
  position: absolute;

  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-top: 2em;
  width: 12%;
}
* {
  box-sizing: border-box;
}
input {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0 1em 0;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}
button {
  width: 100%;
  padding: 0.5em;
  background-color: #1b3c53;
  color: #f9f3ef;
  border: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
button:hover {
  background-color: #2b2b2b;
}
a {
  all: unset;
  cursor: pointer;
}
.actions a {
  width: 100%;
  margin-left: 3em;
  padding: 0.5em;
  background-color: #1b3c53;
  color: #f9f3ef;
  border: none;
  border-radius: 5px;
}
.actions a:hover {
  background-color: #2b2b2b;
}
#register {
  position: absolute;

  left: 10%;
  width: 40%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 1em;
  margin-top: 2em;
}
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.password-conditions {
  background-color: white;
  border: .3px solid #2b2b2b;
  border-radius: 5px;
  font-weight: 300;
  font-size: small;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  left: 56%;
  list-style-type: disc;
  padding: 1em 2em;
  margin: 28em 2.5em;
}
.password-error {
  color: rgb(213, 74, 74);
  font-weight: bold;
}
.logout-button {
  background-color: #1b3c53;
  color: #f9f3ef;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}
.logout-form{
  display: -webkit-flex;
  right: 10em;
position: absolute;
  width: min-content;
  margin: 0;
}