{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'trade_registry/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{% static 'trade_registry/favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <nav>
      <a href="{% url 'index'%}"><h1>The Trade Registry</h1></a>
      <ul class="custom_navbar">
        {% if user.is_authenticated %}
        <button onclick="toggleDropdown()" class="drop-button">{{ user.username}}</button>
        <div id="dropdown" class="hidden menu">
         
          <ul> <li onclick="toggleDropdown()">{{ user.username}}</li>
          <li><a href="{% url 'settings'%}">Settings</a></li>
          <li><form class="logout-form" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="logout-button" type="submit">Logout</button></form></li></ul>
        </div>
        <a href="{% url 'help' %}" class="anchor-button">Help</a>
        {% else %}
        <button>Help</button>
        {% endif %}
      </ul>
    </nav>
    {% block content %} {% endblock %}
    <footer>gerogiordano08@gmail.com</footer>
    {% block scripts %} 
    <script src="{% static '/trade_registry/js/navbar_dropdown.js' %}"></script>{% endblock%}
  </body>
</html>

