{% extends "trade_registry/base.html" %} {% block title %}Register Trade | The Trade Registry{% endblock %} {% block content %} {% load static %}
{% load django_bootstrap5 %}
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<form id="register" method="POST" class="form">
  <h1 class="container-header">Register a new trade</h1>

  {% csrf_token %}

<div class="mb-3 position-relative">
    <div class="col-md-12">{% bootstrap_field form.ticker %}</div>
    
    <ul id="tickerDropdown" class="list-group position-absolute w-100 shadow-lg d-none custom_dropdown" style="z-index: 1050; max-height: 200px; overflow-y: auto;">
        </ul>

        <div class="col-md-12">{% bootstrap_field form.buy_date %}</div>
            <div class="col-md-12">{% bootstrap_field form.buy_price %}</div>
            <div class="col-md-12">{% bootstrap_field form.quantity %}</div>
            <div class="col-md-12">
                <hr>
                <h5>Optional Sell Data</h5>
            </div>
            <div class="col-md-12">{% bootstrap_field form.sell_date %}</div>
            <div class="col-md-12">{% bootstrap_field form.sell_price %}</div>
        </div>
        <div class="col-md-50 d-flex flex-column mb-4">
    
    <div class="flex-grow-1"></div> 

    <button type="submit" id="submit-button" class="btn btn-primary w-auto h-auto mt-auto" disabled>
        Register trade
    </button>
</div>
</div>
</form>

{% block scripts %}
{% bootstrap_javascript %}
    <script src="{% static '/trade_registry/js/ticker_search_dropdown.js' %}"></script>
{% endblock %} 
{% endblock %}


