{% extends "trade_registry/base.html" %} {% block title %}Register Trade | The Trade Registry{% endblock %} {% block content %} {% load static %}
 {% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<form id="register" method="POST">
  <h1 class="container-header">Register a new trade</h1>

  {% csrf_token %}
  <div>
    <label for="ticker">Ticker</label><br />
    <input
      type="text"
      id="ticker"
      name="ticker"
      required
      value="{{ ticker|default:'' }}"
    /><br /><br />
  </div>
  <div>
    <label for="buy_date">Buy date</label><br />
    <input
      type="date"
      id="buy_date"
      name="buy_date"
      style="font-family: 'Lato';"

      required
      value="{{ buy_date|default:'' }}"
    /><br /><br />
  </div>
  <div>
    <label for="buy_price">Buy price</label><br />
    <input
      type="number"
      id="buy_price"
      name="buy_price"
      required
      value="{{ buy_price|default:'' }}"
    /><br /><br />
  </div>
    <div>
    <label for="quantity">Quantity</label><br />
    <input
      type="number"
      id="quantity"
      name="quantity"
      required
      value="{{ quantity|default:'' }}"
    /><br /><br />
  </div>
  <div>
    <label for="sell_date">Sell date</label><br />
    <input type="date" id="sell_date" name="sell_date"  
      style="font-family: 'Lato';"
    /><br /><br />
  </div>
  <div>
    <label for="sell_price">Sell price</label><br />
    <input type="number" id="sell_price" name="sell_price" /><br /><br />
  </div>
  <button type="submit">Register trade</button>
</form>
{% endblock %}
